<nav class="navbar navbar-light navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand mb-0 h1" [routerLink]="['/']">Giphy App</a>
        <ul class="navbar-nav float-none">
            <li class="nav-item">
                <a href="#" [routerLink]="['/']" routerLinkActive="router-link-active" >Trending</a>
            </li>
            <li class="nav-item">
                <a href="#" [routerLink]="['/search']" routerLinkActive="router-link-active" >Search</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>