<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 ap">
            <div class="container">
                <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Trending Giphy</h1>
                <hr class="mt-2 mb-5">
                <div class="row text-center text-lg-left">
                    <div class="col-lg-3 col-md-4 col-6 item" *ngFor='let gif of gifs'>
                        <a href="#" class="d-block mb-4 h-100">
                            <img [src]="gif.images.original.url" alt="Giphy">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <input type="button" value="loead more" class="btn btn-primary btn-block" *ngIf="!isLoading" (click)="getMore()">
    </div>
</div>
